<!-- Main Content -->
<div class="container-fluid">
  <div class="row">
     <% @articles.each do |item| %>
      <div class="post-preview">
      <a href="/articles/<%=item.id%>">
        <h2 class="post-title">
          <%=item.title%>
        </h2>
      </a>
      <div class="pull-left">
        <img src="/uploads/<%=item.id%>/main.jpg"  alt="your image" class="img-thumbnail" style="height: 100px; float: left; margin-right: 10px;"/>
        <div><%=item.text.truncate(100)%></div>
      </div>
        <p class="post-meta">Posted by
          <a href="#"><%=item.account.fullname%></a>
          <%=item.created_at%></p>
      </div>
     <% end %>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
      </div>
    
  </div>
</div>